<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Adalab Web </title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

  <header class="hero">
    <div class="main-titles">
          <h1 class="title1"> <strong>Anonymous Proxy</strong></h1>
          <h5 class="title2">In hac habitasse platea dictumst.</h5>
  
     
      <div class="hamburger"><img class="hamburger-image" src="../assets/images/ico-menu.svg" alt="hamburguesa"></div>
      <div class="ico-scroll-down"><a href="#tips"><img class="ico-scroll-image" src="../assets/images/ico-scroll-down.svg"/></a></div>
    </div>
    </header>
    <main class="page">
      <div class="white-box">
        <h6 id="tips">Insomnia Tips</h6>
        <h2>Looking Through A Window</h2>
        <p class="article">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</h4>
        <div class="go"><p>Go</p></div>
      </div>
     
      <div class="blue_box">
        <h2>3 Reasons To Purchase</h2>
      <div class="grid">
        <div class="grid1">
        <h4>Ut sed metus</h4>
        <p>Lorem ipsum dolor sit amet, consecteur.</p></div>
        
        <div class="grid2"><h4>Curabitur ac erat</h4>
        <p>Mauris mattis urna quis lorem molestie.</p></div>
        
        <div class="grid3"><h4>Morbi dictum</h4>
        <p>Aliquam in dolor et dolor tincidunt.</p></div>
        <div class="more-reasons"><p>More Reasons</p></div>
      </div>
</main>
<footer>
  <div class="footer">
    <ul class="footer1">
      <li>ARTICLES</li>
      <li>BOOKS</li>  
      <li>EVENTS</li>
      <li>REASONS</li>
      <li>TIPS</li>
    </ul>
    <ul class="footer2">
      <li>TWITTER</li>
      <li> INSTAGRAM</li>  
      <li>MASTODON.SOCIAL</li>  
    </ul>
    <ul class="footer3">
      <li>©2017</li>
      <li>we <span class="heart">❤︎</span>components</li>
    </ul>
  </div>
</footer>
   
</body>
</html>
